.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

body {
  background-color: rgb(152, 137, 116);
}

section,
form,
.contact {
  width: 70%;
  margin: 20px auto;
}

article {
  width: 70%;
  margin: 20px auto;
}

h1,
h2 {
  text-align: center;
}

p {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  line-height: 1.5;
}

ul {
  line-height: 1.5;
}

hr {
  border: none; /* Remove default border */
  height: 2px; /* Set height */
  background-color: #714646; /* Set background color */
  width: 70%; /* Set width */
  margin: 20px auto; /* Center the hr and add vertical margin */
}

table,
th,
td {
  border: 1px solid black;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  text-align: center;
  white-space: nowrap;
}

footer {
  width: 70%;
  margin: 20px auto;
}

input[type="text"],
input[type="email"],
select,
textarea {
  width: 40%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

.audio {
  display: flex;
  justify-content: center; /* Centers horizontally */
  min-height: 50vh; /* Example: center in the viewport */
}

.tenor-gif-embed {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  margin: auto;
}
